@font-face {
  font-family: 'Assistant';
  src: url('./assets/fonts/Assistant-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900; /* Variable font supports weights from 100 to 900 */
  font-style: normal;
  font-display: swap; /* Improves loading performance */
}

body {
  margin: 0;
  font-family: 'Assistant', sans-serif !important;
  background-color: #FFFFFF; /* Light pink background */
  color: #121212; /* Dark text */
}

* {
  font-family: inherit !important;
}

.App {
  text-align: center;
  background-color: #FFFFFF; /* White content background */
  min-height: 100vh;
}

h1, h2, h3, h4, h5, h6 {
  color: #B43361; /* Primary pink for headers */
    font-family: 'Assistant', sans-serif;

}

button {
  background-color: #B43361 !important; /* Primary pink for buttons */
  color: #FFFFFF !important; /* White text for buttons */
}

button:hover {
  background-color: #8B2A4C !important; /* Darker pink on hover */
}